.bg-img {
  background-image: url("https://source.unsplash.com/bOy4OPu98lI");
  background-size: cover;
  background-position: center 25%;
}
#main_img {
  margin-top: 45px;
}

body {
  font-family: "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
}
